<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="utf-8"/>
 <title>会议管理</title>
 <meta name="author" content="DeathGhost" />

 <link rel="stylesheet" type="text/css"  th:href="@{/css/fullcalendar.min.css}">
 <link rel="stylesheet" type="text/css"  th:href="@{/css/app.min.css}">
 <link rel="stylesheet" type="text/css"  th:href="@{/css/style.css}">
 <!--[if lt IE 9]>
 <script th:src="@{/js/html5.js}"></script>
 <![endif]-->
 <script th:src="@{/js/jquery.js}"></script>
 <script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
 <script th:src="@{/js/load-content.js}"></script>
 <script th:src="@{/js/lSelect.js}"></script>
 <script th:src="@{/laydate/laydate.js}"></script>
 <style>
  html,.fc button{
   font-size: 20px;
  }
  .fc-toolbar h2 {
   font-size: 20px;
   line-height: 20px;
   text-transform: uppercase;
  }
  .fc table tbody tr{
   height: 20px;
  }
 </style>

</head>
<body style="overflow: hidden">
<!--header-->
<!--头部-->
<div th:replace="~{admin/incloud/top::content}"></div>
<!--aside nav-->
<!--aside nav-->
<!--左侧-->
<div th:replace="~{admin/incloud/left::content}"></div>

<section class="rt_wrap content mCustomScrollbar">

 <div id="calendar"></div>
 <!-- Add New Event MODAL -->
 <div class="modal fade" id="event-modal" tabindex="-1">
  <div class="modal-dialog">
   <div class="modal-content">
    <div class="modal-header pr-4 pl-4 border-bottom-0 d-block">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
     <h4 class="modal-title">新日程</h4>
    </div>
    <div class="modal-body pt-3 pr-4 pl-4">
    </div>
    <div class="text-right pb-4 pr-4">
     <button type="button" class="btn btn-light" data-dismiss="modal">关闭</button>
     <button type="button" class="btn btn-success save-event" onclick="postSave()">创建</button>
     <button type="button" class="btn btn-danger delete-event" data-dismiss="modal">删除</button>
    </div>
   </div> <!-- end modal-content-->
  </div> <!-- end modal dialog-->
 </div>
</section>

</body>
</html>
<script th:src="@{/js/app.min.js}"></script>
<script th:src="@{/js/fullcalendar.min.js}"></script>
<script>
 var startTime, endTime;

 function postSave() {
  var i = $("#form");
  var e = i.find("input[name='title']").val(),
          a = (i.find("input[name='beginning']").val(),
                  i.find("input[name='ending']").val(),
                  i.find("select[name='category'] option:checked").val());

  var data = JSON.stringify({
   type: a,
   content: e,
   startDate: startTime,
   endDate: endTime,
   meetingId: [[${meetingId}]]
  });

  $.ajax({
   url: ' [[@{/admin/schedule/save}]]',
   dataType: "json",
   type: "POST",
   contentType: "application/json",
   data: data,
   success: function(retInfo) {
    if(retInfo.status != 200){
     location.reload();
    }
   }
  });

 }
</script>
<script th:inline="javascript" >

 $(function(){
  console.log( [[${schedules}]] )
  var data = [[${schedules}]];
  var schedulesJsonArray = [];
  for (var i =0;i<data.length;i++){
     var data_map = {
      'title':data[i].content,
      'className':data[i].type,
      'start':data[i].start_date,
      'end':data[i].end_date,
      'id':data[i].id
     };
   schedulesJsonArray.push(data_map);
  }
  console.log(schedulesJsonArray);
  !function (e) {


   "use strict";
   var t = function () {
    this.$body = e("body"), this.$modal = e("#event-modal"), this.$event = "#external-events div.external-event", this.$calendar = e("#calendar"), this.$saveCategoryBtn = e(".save-category"), this.$categoryForm = e("#add-category form"), this.$extEvents = e("#external-events"), this.$calendarObj = null
   };
   t.prototype.onDrop = function (t, n) {
    var a = t.data("eventObject"), l = t.attr("data-class"), i = e.extend({}, a);
    i.start = n, l && (i.className = [l]), this.$calendar.fullCalendar("renderEvent", i, !0), e("#drop-remove").is(":checked") && t.remove()
   }, t.prototype.onEventClick = function (t, n, a) {
    var l = this, i = e("<form id='from'></form>");
    i.append("<label>修改日程名称</label>"), i.append("<div class='input-group m-b-15'><input class='form-control' type=text value='" + t.title + "' /><span class='input-group-append'><button type='submit' class='btn btn-success btn-md  '><i class='fa fa-check'></i>提交</button></span></div>"), l.$modal.modal({backdrop: "static"}), l.$modal.find(".delete-event").show().end().find(".save-event").hide().end().find(".modal-body").empty().prepend(i).end().find(".delete-event").unbind("click").click(function () {
     l.$calendarObj.fullCalendar("removeEvents", function (e) {
      if(e._id == t._id){
       var id = e.id;
       $.ajax({
        url: [[@{/admin/schedule/delete}]],
        dataType: "json",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({id:id}),
        success: function(retInfo) {
         if(retInfo.status != 200){
           alert('删除失败!');
         }else {
          location.reload();
         }
        }
       });
      }
      return e._id == t._id;
     }), l.$modal.modal("hide")
    }), l.$modal.find("form").on("submit", function () {
     var title = $("#from").find("input[type='text']").val();
     $.ajax({
      url: [[@{/admin/schedule/update}]],
     dataType: "json",
             type: "POST",
             contentType: "application/json",
             data: JSON.stringify({id:t.id,content:title}),
             success: function(retInfo) {
            if(retInfo.status != 200){
             alert('操作失败!');
            }else {
             location.reload();
            }
     }
    });

     return t.title = i.find("input[type=text]").val(), l.$calendarObj.fullCalendar("updateEvent", t), l.$modal.modal("hide"), !1
    })
   }, t.prototype.onSelect = function (t, n, a) {
    var l = this;
    l.$modal.modal({backdrop: "static"});
    var i = e("<form id='form'></form>");
    i.append("<div class='row'></div>"), i.find(".row").append("<div class='col-12'><div class='form-group'><label class='control-label'>会议日程安排</label><input class='form-control' placeholder='输入会议日程项目' type='text' name='title'/></div></div>").append("<div class='col-12'><div class='form-group'><label class='control-label'>会议类型</label><select class='form-control' name='category'></select></div></div>").find("select[name='category']").append("<option value='bg-danger'>重要会议</option>").append("<option value='bg-success'>普通会议</option>").append("<option value='bg-info'>休息时间</option></div></div>"), l.$modal.find(".delete-event").hide().end().find(".save-event").show().end().find(".modal-body").empty().prepend(i).end().find(".save-event").unbind("click").click(function () {
     i.submit()
    }), l.$modal.find("form").on("submit", function () {
     var e = i.find("input[name='title']").val(),
             a = (i.find("input[name='beginning']").val(),
                     i.find("input[name='ending']").val(),
                     i.find("select[name='category'] option:checked").val());
     return null !== e && 0 != e.length ? (l.$calendarObj.fullCalendar("renderEvent", {
      title: e,
      start: t,
      end: n,
      allDay: !1,
      className: a
     }, !0), l.$modal.modal("hide")) : alert("You have to give a title to your event"), !1
    }), l.$calendarObj.fullCalendar("unselect")
   }, t.prototype.enableDrag = function () {
    e(this.$event).each(function () {
     var t = {title: e.trim(e(this).text())};
     e(this).data("eventObject", t), e(this).draggable({zIndex: 999, revert: !0, revertDuration: 0})
    })
   }, t.prototype.init = function () {
    this.enableDrag();
    var t = new Date, n = (t.getDate(), t.getMonth(), t.getFullYear(), new Date(e.now())),
            a = schedulesJsonArray,
            l = this;
    l.$calendarObj = l.$calendar.fullCalendar({
     buttonText: {
      today: '今天',
      month: '月',
      week: '周',
      day: '日'
     },
     monthNamesShort: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
     dayNamesShort: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
     slotDuration: "00:15:00",
     minTime: "08:00:00",
     maxTime: "19:00:00",
     defaultView: "agendaWeek",
     handleWindowResize: !0,
     height: e(window).height - 200,
     header: {left: "prev,next today", center: "title", right: "agendaWeek"},
     events: a,
     editable: false,
     droppable: false,
     eventLimit: false,
     selectable: true,
     drop: function (t) {
      l.onDrop(e(this), t)
     },
     select: function (e, t, n) {
      startTime = e;
      endTime = t;
      l.onSelect(e, t, n)
     },
     eventClick: function (e, t, n) {
      l.onEventClick(e, t, n);
     }
    }), this.$saveCategoryBtn.on("click", function () {
     var e = l.$categoryForm.find("input[name='category-name']").val(),
             t = l.$categoryForm.find("select[name='category-color']").val();
     null !== e && 0 != e.length && (l.$extEvents.append('<div class="external-event bg-' + t + '" data-class="bg-' + t + '" style="position: relative;"><i class="mdi mdi-checkbox-blank-circle mr-2 vertical-middle"></i>' + e + "</div>"), l.enableDrag())
    })
   }, e.CalendarApp = new t, e.CalendarApp.Constructor = t
  }(window.jQuery), function (e) {
   "use strict";
   e.CalendarApp.init()
  }(window.jQuery);

 })


</script>
