<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bird.dao.MemberMapper" >
  <resultMap id="BaseResultMap" type="com.bird.entity.Member" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="area_id" property="areaId" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="BIGINT" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="wx_logo" property="wxLogo" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="hospital" property="hospital" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="is_payment" property="isPayment" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_date, name, logo, position, phone, email, area_id, address, open_id, type,
    nick_name, wx_logo, password, hospital, department, is_payment
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from bird_member
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="getMembers" resultType="java.util.Map" parameterType="java.util.HashMap">
    select
    <include refid="Base_Column_List" />
    from bird_member
    where 1 = 1
    <if test="name!=null and name !=''">
      and name like '%${name}%'
    </if>
    <if test="phone!=null and phone !=''">
      and phone like '%${phone}%'
    </if>
    <if test="type!=null and type !=''">
      and type = #{type}
    </if>
  </select>
  <select id="getMember" resultType="com.bird.entity.Member" parameterType="java.util.HashMap">
    select
    <include refid="Base_Column_List" />
    from bird_member
    where 1 = 1
    <if test="openId!=null and openId !=''">
      and open_id = #{openId}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bird_member
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bird.entity.Member" >
    insert into bird_member (id, create_date, name,
      logo, position, phone,
      email, area_id, address,
      open_id, type, nick_name,
      wx_logo, password, hospital,
      department, is_payment)
    values (#{id,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR},
      #{logo,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{areaId,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
      #{openId,jdbcType=VARCHAR}, #{type,jdbcType=BIGINT}, #{nickName,jdbcType=VARCHAR},
      #{wxLogo,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{hospital,jdbcType=VARCHAR},
      #{department,jdbcType=VARCHAR}, #{isPayment,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.bird.entity.Member" useGeneratedKeys="true" keyProperty="id" >
    insert into bird_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="logo != null" >
        logo,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="wxLogo != null" >
        wx_logo,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="hospital != null" >
        hospital,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="isPayment != null" >
        is_payment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=BIGINT},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="wxLogo != null" >
        #{wxLogo,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="hospital != null" >
        #{hospital,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="isPayment != null" >
        #{isPayment,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bird.entity.Member" >
    update bird_member
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=BIGINT},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="wxLogo != null" >
        wx_logo = #{wxLogo,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="hospital != null" >
        hospital = #{hospital,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="isPayment != null" >
        is_payment = #{isPayment,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bird.entity.Member" >
    update bird_member
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR},
      type = #{type,jdbcType=BIGINT},
      nick_name = #{nickName,jdbcType=VARCHAR},
      wx_logo = #{wxLogo,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      hospital = #{hospital,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      is_payment = #{isPayment,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>