<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>会员管理</title>
    <meta name="author" content="DeathGhost" />
    <link rel="stylesheet" type="text/css"  th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/css/honeySwitch.css}">
    <!--[if lt IE 9]>
    <script th:src="@{/js/html5.js}"></script>
    <![endif]-->
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/honeySwitch.js}"></script>
    <script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
    <script th:src="@{/js/load-content.js}"></script>
</head>
<body>
<!--header-->
<div th:replace="~{admin/incloud/top::content}"></div>
<!--aside nav-->
<!--aside nav-->
<div th:replace="~{admin/incloud/left::content}"></div>

<section class="rt_wrap content mCustomScrollbar">
    <div class="rt_content">
        <div class="page_title">
            <h2 class="fl">主席会员列表示例</h2>
            <a th:href="@{/admin/member/add}" href="product_detail.html" class="fr top_rt_btn add_icon">添加会员</a>
        </div>
        <form id="list" th:action="@{/admin/member/list}">
            <input type="hidden" name="pageNum" id="pageNum"  th:value="${page.pageNum}" >
            <input type="hidden" name="pageSize" id="pageSize" th:value="${page.pageSize}">
            <section class="mtb">
                姓名：<input type="text" class="textbox textbox_225" name="name" th:value="${name}" placeholder="输入用户姓名..."/>
                电话：<input type="text" class="textbox textbox_225" name="phone" th:value="${phone}" placeholder="输入电话..."/>
                类型：<select class="select" name="type">
                        <option th:selected="${type==2}" value="2">参会主席</option>
                        <option th:selected="${type==1}" value="1">普通会员</option>
                      </select>
                <input type="submit" value="查询" class="group_btn"/>
            </section>
            <table class="table">
                <tr>
                    <th>logo</th>
                    <th>姓名</th>
                    <th>电话</th>
                    <th>邮箱</th>
                    <th>职务</th>
                    <th>类型</th>
                    <th>是否缴费</th>
                    <th>操作</th>
                </tr>
                <tr th:each="member:${page.list}">
                    <td class="center">
                    <th:block th:if="${member.logo==null}">
                        <img th:src="${member.wx_logo}" width="50" height="50"/>
                    </th:block>
                    <th:block th:if="${member.logo!=null}">
                        <img th:src="@{${member.logo}}" width="50" height="50"/>
                    </th:block>

                    </td>
                    <td class="center">[[${member.name==null?member.nick_name:member.name}]]</td>
                    <td class="center">[[${member.phone}]]</td>
                    <td class="center">[[${member.email}]]</td>
                    <td class="center">[[${member.position}]]</td>
                    <td class="center">[[${member.type==1?'普通会员':'参会主席'}]]</td>
                    <td class="center">
                        <th:block th:if="${member.type==1}">
                            <span th:class="${member.is_payment?'switch-on':'switch-off'}" class="switch-off" th:onclick="|openApi(${member.id},${member.is_payment})|"></span>
                        </th:block>
                        <th:block th:if="${member.type==2}">
                           -
                        </th:block>
                    </td>
                    <td class="center">
                        <a th:href="@{/admin/member/view(id=${member.id})}" title="预览" class="link_icon" target="_blank">&#118;</a>
                        <a th:href="@{/admin/member/edit(id=${member.id})}" title="编辑" class="link_icon">&#101;</a>
                    </td>
                </tr>
            </table>
        </form>

        <aside class="paging">
            <a th:if="${page.pages > 1}">第一页</a>
            <a th:each="i:${#numbers.sequence(1,page.pages)}" th:class="${page.pageNum == i?'active':''}" th:onclick="|javascript:$.pageSkip(${i});|" >[[${i}]]</a>
            <a th:if="${page.pages > 1}">最后一页</a>
        </aside>
    </div>
</section>
</body>
</html>
<script th:src="@{/js/list.js}"></script>
<script>


    function openApi(id,isPayment) {
        $.ajax({
            type:"POST",
            contentType: "application/json",
            url:'[[@{/admin/member/updatePayment}]]',
            data:JSON.stringify({id:id,isPayment:!isPayment}),
            dataType:"JSON",
            async: false,
            success:function (data) {
                console.log(data);
                if (data.status==200){
                    location.reload();
                }
            }
        })
    }
</script>
